<%- include("partials/header"); -%>

<div id="page-content">

        <div class="social-media social-media-home">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                  <li><a href="#"><i class="fab fa-pinterest-square"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>

        <div class="row desktop">

                <div class="col-9">
                        <h1>My Motto</h1>

                        <p class="motto"><i><%= homePage %></i></p>

                        <p class="posts">My Posts</p>

                        <%  pagePosts.forEach(myFunction); %>
                        <%  function myFunction(post) { %>

                        <h1> <%= post.title; %> </h1>
                        
                        <p>
                                <%= post.body.substring(0, 100) + "..."; %>
                                <a href="/posts/<%= post.title %>">Read More</a>
                        </p>
                        <%  } %>
                </div>
                <div class="col-3">

                        <img class="profilePic1" src="images/profilepic.jpg" alt="profilePicture">
                        

                </div>
        </div>



        <div class="mobile-first">

                <img class="profilePic2" src="images/profilepicPortrait.jpg" alt="profilePicture">

                <h1 class="mottoTitle">My Motto</h1>

                <p class="motto"><i><%= homePage %></i></p>

                <%  pagePosts.forEach(myFunction); %>
                        <%  function myFunction(post) { %>

                        <h1 class="post-title"> <%= post.title; %> </h1>
                        
                        <p class="post-body">
                                <%= post.body.substring(0, 100) + "..."; %>
                                <a href="/posts/<%= post.title %>">Read More</a>
                        </p>
                        <%  } %>

        </div>

</div>



<%- include("partials/footer"); -%>